JAX-WS-Client/src/main/resources/SimpleMath.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sample.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="MathWS" targetNamespace="http://sample.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://sample.com/" elementFormDefault="unqualified"
			targetNamespace="http://sample.com/" version="1.0">
			<xs:element name="sum" type="tns:sum" />
			<xs:element name="sumResponse" type="tns:sumResponse" />
			<xs:complexType name="sum">
				<xs:sequence>
					<xs:element name="arg0" type="xs:long" />
					<xs:element name="arg1" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sumResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sumResponse">
		<wsdl:part element="tns:sumResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sum">
		<wsdl:part element="tns:sum" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SimpleMath">
		<wsdl:operation name="sum">
			<wsdl:input message="tns:sum" name="sum">
			</wsdl:input>
			<wsdl:output message="tns:sumResponse" name="sumResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MathWSSoapBinding" type="tns:SimpleMath">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sum">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sum">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sumResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MathWS">
		<wsdl:port binding="tns:MathWSSoapBinding" name="MathWSPort">
			<soap:address location="http://localhost:8080/JAX-WS-EP-1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>